@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(imagem/back.jpeg);
    background-size: cover;
    background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative; /* coloquei para usar o after */
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
}

/* é o tracinho embaixo do menu de navegação */ 
.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%; /*** o tracinho que fiz, tem 100% do tamanho do 
    comprimento do >> a << , por isso coloquei RELATIVE no >> a << ***/
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0); /* é o ponto inicial do tracinho */ 
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1); /* é o ponto final do tracinho. Ele preenche
    todo */ 
}

.navigation .btn-popup {
    width: 130px;
    height: 50px;
    font-size: 1.1em;
    border: 1px solid #fff;
    outline: none;
    border-radius: 6px;
    background: transparent;
    font-weight: 600;
    color: #fff;
    margin-left: 40px;
    cursor: pointer;
}

.navigation .btn-popup:hover {
    background: rgba(200, 68, 45, 0.519);
    color: #fff;
    transition: .5s;
}

.container {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(117, 42, 42, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 5px #c8442d84;
    color: #fff;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* deixou um container sobre o outro! */
    transform: scale(0);
    transition: transform .5s ease, height .2s ease; /* efeito */ 
}

.container.active-popup {
    transform: scale(1); /* faz o login aparecer, observe que antes, o 
    scale estava em (0) */
}

.container.active {
    height: 520px;
}

.container .form-box {
    width: 100%;
    padding: 40px;
}

.container .form-box.login {
   transition: transform .18s ease;
   transform: translate(0);
}

.container.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
 }

.container .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.container.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
 }

.form-box h2 {
    font-size: 2em;
    text-align: center;
    color: #c8442d;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(117, 42, 42, 0.865);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #ffc8bf;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}
/* faz o label levantar */ 
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c8442d;
    font-weight: 600;
    padding: 0 35px 0 5px;
}  

.input-box .icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffc8bf;
    font-size: 1.2em;
    /* line-height: 50px; ** também posso usar line-height para alinhar,
    colocando o mesmo tamanho do height do input-box **/ 
}

.lembre-me {
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px 0;
}

.lembre-me label input {
    accent-color: #c8442d;
    margin-right: 5px;
}

.lembre-me a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.lembre-me a:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    height: 45px;
    color:#fff;
    font-weight: 600;
    font-size: 1em;
    background: #c8442d;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
   box-shadow: 0 0 10px #c8442d;
}

.registre-se {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px 0;
}

.registre-se p a {
    text-decoration: none;
    color: #c8442d;
    font-weight: 600;
    margin-left: 10px;
}

.registre-se p a:hover {
    text-decoration: underline;
}

.container .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #c8442d;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.container .icon-close:hover {
    box-shadow: 0 0 10px #c8442d;
}